@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif; 
}


.to-violet-600
{
    background: #30b309;
    background: linear-gradient(167deg,rgba(48, 179, 9, 1) 0%, rgba(86, 208, 25, 1) 56%, rgba(242, 240, 43, 1) 100%)!important;
}

.bg-fuchsia-600
{
    background: #30b309 !important;
}


.text-fuchsia-600
{
    color: #30b309 !important;
}